{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Baby spider =D</title>
        <link rel="stylesheet" href="{% static 'css/spider_list.css' %}">
    </head>
    <body>
        <div class="jumbotron">
            <img width="500px" height="300px" src="https://pre00.deviantart.net/0b3b/th/pre/i/2009/238/f/2/jumping_spider_just_hatched_by_macrojunkie.jpg"/>
            <h1>Baby spider Project</h1>
            <p>Esse projeto visa o desenvolvimento de uma simples API para criar spider para extração de dados de uma página web.</p>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>